<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js"></script>

</head>
<body>
<header>
    <div class="logo">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre" >
    </div>
    <div class="barra_de_busqueda">
        <div class="form-group">
          <label for=""></label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Busca Producto o marcar">
        </div>
        <i class="fas fa-search" id="search-btn"></i>
    </div>
    <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
    <div class="menu">
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
            <li><a href="">Ingresa <i class="fa fa-arrow-right"></i></a></li>
            <li><a href="">Mis compras  <i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </div>
    <div class="main">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
</header>
<section class="ultima_visita">
    <article>
        <div class="image_article">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la cafeteria">
        </div>
        <div class="text_article">
            <p>imagen de la cafetera<br>
                $6.770<br>
                40% OFF<br>
                Cafetera Moulinex</p>
        </div> 
    </article>
    <article>
        <div class="image_article">
            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
        </div>
        <div class="text_article">
            <p>$230.000<br>
                20% off<br>
                MacBook Pro 2019</p>
        </div> 
    </article>  
    <article>
        <div class="image_article">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
        </div>
        <div class="text_article">
            <p>$70.500<br>
                10% off<br>
                Samsung Galaxy S10</p>
        </div> 
    </article>  
    <article>
        <div class="image_article">
            <img src="  /images/img-tv-samsung-smart.jpg" alt="Samsung">
        </div>
        <div class="text_article">
            <p>$23.200<br>
                5% off<br>
                SmartTv Samsung 43"</p>
        </div> 
    </article>  
</section>

<section class="ofertas">
    <article>
        <div class="image_article">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la cafeteria">
        </div>
        <div class="text_article">
            <p>imagen de la cafetera<br>
                $6.770<br>
                40% OFF<br>
                Cafetera Moulinex</p>
        </div> 
    </article>
    <article>
        <div class="image_article">
            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
        </div>
        <div class="text_article">
            <p>$230.000<br>
                20% off<br>
                MacBook Pro 2019</p>
        </div> 
    </article>  
    <article>
        <div class="image_article">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
        </div>
        <div class="text_article">
            <p>$70.500<br>
                10% off<br>
                Samsung Galaxy S10</p>
        </div> 
    </article>  
    <article>
        <div class="image_article">
            <img src="  /images/img-tv-samsung-smart.jpg" alt="Samsung">
        </div>
        <div class="text_article">
            <p>$23.200<br>
                5% off<br>
                SmartTv Samsung 43"</p>
        </div> 
    </article>  
</section>
</div>
<footer>
    <div class="footer">
    <section class="footer-seccion">
        <i class="fas fa-id-card footer-icon"></i>
        <div class="footer-text"><h2>Pagá con tarjeta o en efectivo</h2></div>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section class="footer-seccion">
        <i class="fas fa-gift footer-icon"></i>
        <div class="footer-text"><h2>Envío gratis desde $ 2.500</h2></div>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section class="footer-seccion">
        <i class="fas  fa-user-secret footer-icon"></i>
       <div class="footer-text"><h2>Seguridad, de principio a fin</h2></div>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
</div>
<div class="sub-footer">
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>    
</div>
</footer>
</body>
</html>