<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="stylesheet" href="css/base_style.css">
        <link rel="stylesheet" href="css/login_style.css">
        <link rel="icon" href="images/favicon.svg">

        <script src="js/script.js"></script>
</head>
<body>

    <header>
        <div class="main_menu row">
            <a href="/"> <div class="logo col-3"><img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre"></div></a>
            <div class="barra_de_busqueda col-6">
                <form action="" method="get" class="search_form">
                    <input type="search" name="buscar" class="nav-search-input" id="buscar" placeholder="Busca productos,marcas y más...">
                </form>
                <button type="submit" class="fas fa-search nav-search-btn" tabindex="3"><div role="img" aria-label="Buscar" id="search-btn"></div></button>
            </div>
            <div class="mensaje_header col-3"><h3>Comprá en cuotas y sin tarjeta de crédito</h3></div>
        </div>
        <div class="secondary_menu row">
            <div class="secondary_menu_left col-6">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>
            <div class="secondary_menu_right col-6">
                <ul>
                    <li><a href="/">Inicio </a></li>    
                    <li><a href="/registro">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fa fa-arrow-right"></i></a></li>
                    <li><a href="">Mis compras  <i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
            <div class="main">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                    </div>
                </div>
        </header>
    <!-- Sección Login -->
    <section class="contenedor-login">
        <div class="contenedor-formulario">
            <br><br><h1>Formulario de Ingreso</h1><br><br>
        <form action="" method="get">
            <br> <input type="text" id="username" class="form_registro"  placeholder="Nombre de Usuario"><br><br><br>
            <input class="form_registro"  type="password" id="password" placeholder="Contraseña"><br><br><br>
            <button class="btn_enviar" type="submit">Enviar</button>
        </form>
    </div>
    </section>



<footer>
    <div class="footer">
    <section class="footer-seccion">
        <i class="fas fa-id-card footer-icon"></i>
        <div class="footer-text"><h2>Pagá con tarjeta o en efectivo</h2></div>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section class="footer-seccion">
        <i class="fas fa-gift footer-icon"></i>
        <div class="footer-text"><h2>Envío gratis desde $ 2.500</h2></div>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section class="footer-seccion">
        <i class="fas  fa-user-secret footer-icon"></i>
       <div class="footer-text"><h2>Seguridad, de principio a fin</h2></div>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
</div>
<div class="sub-footer">
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>    
</div>
</footer>
</body>
</html>
